body {
  font-size: 3rem;
  background: snow;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  font-size: 1.6rem;
}
.CAS {
  background: yellowgreen;
}
.CAR {
  background: yellow;
}
#posts-list-container{
  display: flex;
  flex-direction: column;
}
.meri-table{
  margin: 3rem;
  background-color: aqua;
}
